In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stats
%matplotlib inline

In [2]:
data=pd.read_csv('../Data-sets/Data.csv')

In [3]:
data.isna()

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

In [4]:
data['Salary'].fillna(data['Salary'].mean(),inplace=True)

In [5]:
data['Age'].fillna(data['Age'].mean(),inplace=True)

In [ ]:
data['Purchased']=data['Purchased'].apply(lambda x:0 if x=='No' else 1)